
  <%= simple_form_for(@ambulance) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.input :contact,       label: "Contact No." %>


    <%= f.input :latitude,       label: "Latitude" %>
    <%= f.input :longitude,      label: "Longitude" %>

    <%#= f.label: "Equipment Level: " %>
    <%= f.collection_radio_buttons  :equipment_level, [[1, "Van"], [2, "First Aid"], [3, "Cardiac"]], :first, :last %>
    <%= f.input :free,              as: :radio_buttons %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
