
<div class="row">
  <div class="medium-9 medium-centered columns center">

  <h3>Listing ambulances</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Current Location</th>
        <th>Equipment Level</th>
        <th>Free?</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @ambulances.each do |ambulance| %>
        <tr>
          <td><%= ambulance.id %></td>
          <td><%= ambulance.address %></td>
          <td><%= ambulance.equipment_level_label %></td>
          <td><%= ambulance.free %></td>
          <td><%= link_to 'Show', ambulance %></td>
          <td><%= link_to 'Edit', edit_ambulance_path(ambulance) %></td>
          <td><%= link_to 'Destroy', ambulance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to 'New Ambulance', new_ambulance_path %>

  </div>
</div>


