
<div class="row">
  <div class="medium-9 medium-centered columns center">

    <h3>Listing ambulances</h3>

    <table>
      <thead>
        <tr>
          <th>Patient Location</th>
          <th>Emergency Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @patient_address %></td>
          <td><%= @emergency_label %></td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Ambulance ID</th>
          <th>Current Location</th>
          <th>Equipment Level</th>
          <th>Contact</th>
          <th>Exp. Time to Reach</th>
          <th></th>          
        </tr>
      </thead>

      <tbody>
        <% @amb_prox_pairs.each do |amb_prox| %>
          <tr>
            <td><%= amb_prox[0].id %></td>
            <td><%= amb_prox[0].address %></td>
            <td><%= amb_prox[0].equipment_level_label %></td>
            <td><%= amb_prox[0].contact %></td>
            <td><%= amb_prox[1] %> mins</td>
            <td><%= button_to "Dispatch" , { controller: "ambulances", action: "send_notification", ambulance_id: amb_prox[0].id, patient_address: @patient_address, patient_contact: @patient_contact, patient_name: @patient_name, emergency: @emergency_label }, :class => "button tiny radius" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>