<p id="notice"><%= notice %></p>

<p>
  <strong>Ambulance ID:</strong>
  <%= @ambulance.id %>
</p>

<p>
  <strong>Current Location:</strong>
  <%= @ambulance.current_loc %>
</p>

<p>
  <strong>Current Location:</strong>
  <%= @ambulance.longitude %>
</p>

<p>
  <strong>Current Location:</strong>
  <%= @ambulance.latitude %>
</p>

<p>
  <strong>Free:</strong>
  <%= @ambulance.free %>
</p>

<%= link_to 'Edit', edit_ambulance_path(@ambulance) %> |
<%= link_to 'Back', ambulances_path %>
