<!DOCTYPE html>
<html>
<head>
  <title>AmbulanceService</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Ambulance Service</a></h1>
      </li>
    </ul>


    <section class="top-bar-section">

      <ul class="right">
        <li class="divider"></li>
        <li class=""><a href="/ambulances">Ambulances</a></li>
        <li class="divider"></li>
        <li class="has-form show-for-large-up">
          <a href="http://foundation.zurb.com/docs" class="medium radius alert button">Sign Out</a>
        </li>
      </ul>

    </section>
  </nav>
  
  <div class="row"><br /><br /></div>

  <%= yield %>

</body>
</html>
